:root{
    --gap: 1em;
}
.main__title{
    padding: var(--gap); 
}

.main__friendslist{
    padding: var(--gap);
}

.main__content{
    width: 100%;
    padding: var(--gap);
}

.card-body{
    padding: 0;
}
.card__friend{
    padding: 1em;
}