.container{
    margin-top: 50px;
    width: 500px;
    height: 700px;
    font-family:"Comic Sans MS";
}
.btn-group{
    width: 100%;
}
.list-group{
    margin-top: 1rem!important;
}
.mt-5 {
    margin-top: 1rem!important;
}
.input-group{
    margin-top: 1rem!important;
}
.input-group .bingo{
    color: blue;
}