association{
    text-decoration: none;
    color:black;    
}
#EpidemicBox{
    width: 100%;
    height: 36.2px;
    background-color: rgb(254, 114, 0);
    font-size: x-small;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
}
#Rectangle{
    width: 100%;
    height: 35.2px;
    background-color: rgb(0, 15, 34);
}
#box3{
    width: 100%;
    height: 55px;
    background-color: rgb(255, 255, 255);
    font-size: x-small;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
}
.picbox3{
    justify-content: center;
    margin: 15px;
    width: 11%;
}
#Blackboard{
    width: 100%;
    height: 640px;
    background-color: rgb(0, 20, 45);
    font-size:medium;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.Blackboard{
    justify-content: center;
    margin: 2.5%;
}
#BigWhiteboard{
    width: 100%;
    height: 2150px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.BigWhiteboard{
    justify-content: center;
    margin: 2.5%;
    display: flex;
    flex-direction: row;
}
#GreyBoard{
    width: 100%;
    height: 908.69px;
    background-color: rgb(244, 245, 247);
    text-align: center;
}
.outside_GreyBoard{
    justify-content: center;
    margin: 6%;
    display: flex;
    flex-direction: row;
}
.inside_GreyBoard{
    justify-content: center;
    margin: 2.5%;
    flex-direction: column;
}
#Message{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.Message{
    justify-content: center;
    margin: 2.5%;
    display: flex;
    flex-direction: row;
}