a{
    text-decoration: none;
    color:black;    
}
#box{
    width: 100%;
    height: 36.2px;
    background-color: rgb(254, 114, 0);
    font-size: x-small;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
}
#box2{
    width: 100%;
    height: 35.2px;
    background-color: rgb(0, 15, 34);
}
#box3{
    width: 100%;
    height: 55px;
    background-color: rgb(255, 255, 255);
    font-size: x-small;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
}
.picbox3{
    justify-content: center;
    margin: 15px;
    width: 11%;
}
#box4{
    width: 100%;
    height: 640px;
    background-color: rgb(0, 20, 45);
    font-size:medium;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.picbox4{
    justify-content: center;
    margin: 2.5%;
}
#box5{
    width: 100%;
    height: 2150px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.picbox5{
    justify-content: center;
    margin: 2.5%;
    display: flex;
    flex-direction: row;
}
#box6{
    width: 100%;
    height: 908.69px;
    background-color: rgb(244, 245, 247);
    text-align: center;
}
.picbox6_1{
    justify-content: center;
    margin: 6%;
    display: flex;
    flex-direction: row;
}
.picbox6{
    justify-content: center;
    margin: 2.5%;
    flex-direction: column;
}
#box7{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.picbox7{
    justify-content: center;
    margin: 2.5%;
    display: flex;
    flex-direction: row;
}
#box8{
    width: 100%;
    height: 574.59px;
    background-color: rgb(0, 20, 45);
    position: "bottom";
}
#box9{
    width: 100%;
    height: 194.58px;
    background-color: rgb(0, 20, 45);
}
#box10{
    width: 100%;
    height: 80.06px;
    background-color: rgb(0, 15, 34);
}