/* main-nav表示為 "主導航" */
.main-header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
}

.main-nav{
    position: absolute;
    width: 100%;
    background-color: #fa0;
    left: 0;
    top: 100%;
    display: none; /* 選項事先隱藏 */
}

#menu_control{
    display: none;
    position: absolute;
    z-index: 10px;
}

#menu_control:checked ~ .main-header .main-nav{
    display: block; /* 當按下 .main-nav 選項出現 */
}

.main-nav a{
    display: block;
    padding: 10px 20px;
}

.hb{
    width: 22px;
    height: 25px;
    margin-top: 18px;
    margin-right: 10px;
}

.logo img{
    width: 120px;
    height: 20px;
    margin-top: 18px;
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .main-header{
        display: flex;
        position: relative;
        /* margin: auto; */
    }

    .logo{
        margin: auto;
        margin-top: 0;
        margin-left: 0;
        /* margin-right: 10px; */
    }

    .main-nav{
        position: relative;
        /* width: auto; */
        background-color: transparent;
        left: auto;
        top: auto;
        display: block;
    }
    /* #menu_control:checked{
        display: block;
        position: absolute;
        z-index: 10px;
    } */
    .main-nav a{
        display: inline-block;
        /* padding: 10px 20px; */
        padding: 10px;
    }
    
    .hb{
        display: none;
    }
    
}


.main-nav_btn {
    position: absolute;
    background-color: #0061ff;
    color: #fff;
    z-index: 99;
    right: 12%;
    padding: 12px 17px;
    font-size: 14px;
    border-radius: 30px;
}

.main-nav_btn:hover{
    background-color: darkblue;
}
