.siteinfo-footer_warp{
    background-color: rgb(0, 20, 45);
    color: #fff;
}

.map span, .siteinfo a{
    color: #fff;
}

.map{
    margin: auto;
}

.map .txt{
    color: #fff;
}

.siteinfo-footer_warp .line{
    margin: auto;
    width: 1540px;
    background-color: red;
    border: 1px solid transparent;
}

.siteinfo-footer_warp img{
    right: 0;
}

.siteinfo{
    margin: auto;
}

.link{
    margin: auto;
    width: 1540px;
}

.link a{
    color: #fff;
}