/* top-nav 表示為"頂部導航" */
.top-nav_wrap{
    background-color: #00142d;
}

.top-nav{
    text-align: right;
    height: 40px;
    margin: auto;
    display: none;
}

.top-nav a, .top-nav span{
    color:#fff;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
}

.globe{
    margin-right: 15px;
    justify-content: center;
    margin-top: 10px;
}

@media screen and (min-width:1024px) {
    .top-nav{display: block;}
}